
body {
  display: block;
  margin: 8px;
  padding: 0;
}

#mainHeading {
  color: red;
  margin-bottom: 20px;
}

.funParagraph {
  color: green;
  margin: 10px 0;
  padding: 5px;
}

.amy {
    float: left;
    width: 33.33%;
    padding: 15px;
}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  article {
    float: left;
    width: 33.33%;
    padding: 15px;
    text-align: center;
    color: purple;
  }